@use "@new-ui/reset";

:root {
  font-size: 16px;
  --system-ui: "Inter", system-ui, sans-serif;
  --chevron-color: --figma-color-text-tertiary;
  --key-natural-active: #CCCCCC;
  --key-accidental-active: #242424;
}

.figma-light {
  --key-natural-active: #e6e6e6;
}

.figma-dark {
  --key-natural-active: #CCCCCC;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--system-ui);
  font-weight: 400;
  font-size: 0.75rem;
  font-style: normal;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  margin: 1rem 1.5rem 1.5rem 1.5rem;
}

#root {
  width: 100%;
}

.container {
  height: auto;
  [data-testid="container"] {
    height: auto !important;
  }
}

select {
  width: 100%;
  padding: 0.5rem;
  padding-right: 2rem;
  margin-bottom: 0.75rem;
  border: none;
  border-radius: 0.375rem;
  outline: none;
  background: var(--color-bg);
  color: var(--figma-color-text);
  box-shadow: 0px 0px 0px 1px var(--figma-color-border);
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'%3E%3Cpath fill='%235E5E5E' fill-opacity='1' fill-rule='nonzero' stroke='none' d='m3 5 3-4H0z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
  background-size: 0.65em auto;

  .figma-dark & {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'%3E%3Cpath fill='%23BEBEBE' fill-opacity='1' fill-rule='nonzero' stroke='none' d='m3 5 3-4H0z'%3E%3C/path%3E%3C/svg%3E");
  }

  &:focus {
    border-color: var(--figma-color-text-tertiary);
  }
}

.ReactPiano__Keyboard {
  position: relative;
  display: flex;
  gap: 0.188rem;
}

.ReactPiano__Key {
  display: flex;

  &--accidental {
    background: #000;
    border-radius: 0.375rem;
    cursor: pointer;
    height: 66%;
    z-index: 1;
    position: absolute;
    top: 0;
    box-shadow:
      0px 3px 8px 0px rgba(0, 0, 0, 0.16),
      0px 2px 3px 0px rgba(0, 0, 0, 0.16);
    
    &.ReactPiano__Key--active {
      background: var(--key-accidental-active);
      box-shadow: none;
    }
  }

  &--natural {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    cursor: pointer;
    z-index: 0;
    flex: 1;
    margin-right: 1px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);

    &:last-child {
      margin-right: 0;
    }

    &.ReactPiano__Key--active {
      background: var(--key-natural-active);
      box-shadow: none;
    }
  }

  &--disabled {
    &.ReactPiano__Key--accidental {
      background: var(--figma-color-bg-disabled-secondary);
      box-shadow: none;
    }
    &.ReactPiano__Key--natural {
      background: var(--figma-color-bg-disabled);
    }
  }
}

.ReactPiano__NoteLabelContainer {
  flex: 1;
  align-self: flex-end;
}

.ReactPiano__NoteLabel {
  font-size: 0.75rem;
  text-align: center;
  text-transform: capitalize;
  user-select: none;
  margin-bottom: 0.25rem;

  &--accidental {
    color: #fff;
  }

  &--natural {
    color: #000;
    &.ReactPiano__NoteLabel--active {
      color: #000;
    }
  }
}

.PianoDarkTheme {
  .ReactPiano__Key {
    &--natural {
      background: #404040;

      &.ReactPiano__Key--active {
        background: #666666;
      }
    }

    &--accidental {
      background: #1a1a1a;

      &.ReactPiano__Key--active {
        background: #000000;
      }
    }
  }
}